/.idea/.idea.100-Seconds/.idea/
/Library/
/Logs/
/UserSettings/
/100-Seconds.sln
/100-Seconds.sln.DotSettings.user
/Assembly-CSharp.csproj
/Assembly-CSharp.csproj.DotSettings
/Assembly-CSharp-Editor.csproj
